<app-card>
  <div class="content">
    <form [formGroup]="event" (ngSubmit)="onSubmit()">
      <input
        type="text"
        name="title"
        placeholder="Title"
        formControlName="title"
        required
      />
      <input
        type="text"
        name="url"
        placeholder="URL"
        formControlName="url"
        required
      />
      <input
        type="url"
        name="image"
        placeholder="Image"
        formControlName="image"
        required
      />
      <input
        type="datetime-local"
        name="start"
        placeholder="Start"
        formControlName="start"
        required
      />
      <input
        type="datetime-local"
        name="end"
        placeholder="End"
        formControlName="end"
        required
      />
      <input
        type="text"
        name="timezone"
        placeholder="Timezone"
        formControlName="timezone"
        required
      />
      <span class="button-group">
        <button type="submit">Submit</button>
        <button (click)="onCancel()">Cancel</button>
      </span>
    </form>
  </div>
</app-card>
