<section>
  <article>
    <a routerLink="/orders">
      <app-card>
        <div class="content">
          <h1 class="text">Orders</h1>
        </div>
      </app-card>
    </a>
  </article>
  <article>
    <a routerLink="/listings">
      <app-card>
        <div class="content">
          <h1 class="text">Listings</h1>
        </div>
      </app-card>
    </a>
  </article>
  <article>
    <a routerLink="/sales">
      <app-card>
        <div class="content">
          <h1 class="text">Sales</h1>
        </div>
      </app-card>
    </a>
  </article>
</section>
