section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

section.children {
  margin-top: 1rem;
  display: block;
  gap: 0;
}

article {
  flex: 1 1 calc(25% - 1rem);
  text-align: center;
}

h1 {
  margin: 0;
}
