<nav class="navbar">
  <ul role="list" #nav>
    <li>
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
    </li>
    <li>
      <a routerLink="/frequently-asked-questions" routerLinkActive="active"
        >Frequently Asked Questions</a
      >
    </li>
    <li>
      <a routerLink="/privacy-policy" routerLinkActive="active"
        >Privacy Policy</a
      >
    </li>
    <li>
      <a routerLink="/terms-and-conditions" routerLinkActive="active"
        >Terms & Conditions</a
      >
    </li>
  </ul>
</nav>
