.navbar {
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: var(--background-color);
}

.navbar ul {
  flex: 1 1 auto;
  transition: all 0.4s;
}

.navbar ul li {
  margin-bottom: 1.5rem;
}

.navbar ul li:last-child {
  margin-bottom: 0;
}

.navbar ul li a {
  transition: all 0.4s;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.navbar ul li a.active,
.navbar ul li a:hover,
.navbar ul li a:active {
  font-weight: bold;
  background: var(--hover-background-light);
}

.navbar ul li:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 0.1.5rem;
  }

  .navbar ul {
    margin-bottom: 1.5rem;
  }

  .navbar ul:last-child {
    margin-bottom: 0;
  }
}
