<nav class="navbar">
  <a routerLink="/" class="logo">Tazaker</a>
  <div class="burger" (click)="nav.classList.toggle('open')">
    <button class="secondary">☰</button>
  </div>
  <ul role="list" #nav>
    @for (link of links(); track link.href) {
    <li>
      <a [routerLink]="link.href" [routerLinkActive]="['active']">{{
        link.label
      }}</a>
      @if (link.menu) {
      <div class="menu">
        @for (child of link.menu; track child.label) { @if (child.onClick) {
        <button (click)="child.onClick()">
          {{ child.label }}
        </button>
        } @else {
        <a [routerLink]="child.href" [routerLinkActive]="['active']">{{
          child.label
        }}</a>
        } }
      </div>
      }
    </li>
    }
  </ul>
</nav>
