<article [class.empty]="loading()">
  @if (!order()) {
  <app-card>
    <div class="content">Loading...</div>
  </app-card>
  } @else if (order()!.status === "complete") {
  <app-card>
    <div class="content">
      <h1>Order {{ order()!.id }} complete</h1>
      <p>Thank you for your purchase!</p>
    </div>
  </app-card>
  } @else if (timeLeft() <= 0) {
  <app-alert type="danger"
    >This order has expired. Please go back to the
    <a [routerLink]="['/events', order()!.ticket.event.id]">event page</a> and
    start a new order.</app-alert
  >
  } @else {
  <app-paypal />
  }
</article>
