/* article.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

img {
  object-fit: cover;
  max-height: 40vh;
}

h1 {
  margin: 0;
}

h1::after {
  content: "🔗";
  display: contents;
}

a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
