@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url(./reset.css);

:root {
  --primary-color: #ed6600;
  --primary-color-dark: #b32d00;

  --background-color: #f4f4f4;
  --hover-background-light: #33333333;

  --text-color: #333;
  --light-text-color: #f4f4f4;
  --error-color: #ff0033;
}

/* General */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #333;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}
