<app-card>
  <div class="content">
    <h1>{{ ticket().total | currency : "EUR" }}</h1>
    <p>
      Seller price: <strong>{{ ticket().price | currency : "EUR" }}</strong>
    </p>
    <p>
      Platform fees: <strong>{{ ticket().fees | currency : "EUR" }}</strong>
    </p>
    @if (canOrder()) {
    <button (click)="onOrderTicket(ticket().id)" [disabled]="loading()">
      Order
    </button>
    } @if (eventLink()) {
    <a [routerLink]="['/events', ticket().eventId]">
      <button>Go to event</button>
    </a>
    }
  </div>
</app-card>
