button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.1;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.2rem;
  padding: 0.4rem;
  color: var(--light-text-color);
  transition: all 0.4s;
}

button:hover {
  background-color: var(--primary-color-dark);
}

button.secondary {
  background-color: transparent;
  color: #333;
  border: 1px solid var(--primary-color);
}

button.secondary:hover {
  background-color: var(--hover-background-light);
}

button.disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-group {
  display: flex;
  gap: 0.25rem;
}
