article {
  max-width: 50rem;
}

img {
  object-fit: cover;
}

h1 {
  margin: 0;
}

h1::after {
  content: "🔗";
  display: contents;
}

a {
  text-decoration: none;
  color: var(--text-color);
  position: relative;
}
